{% extends 'shop/basic.html' %}
{% block title %} Your Products {% endblock %}
{% block css %}
    .listItem{
        border-bottom: 1px solid black;
        margin-bottom: 1%;
        padding-bottom: 1%;
    }
{% endblock %}
{% block body %}
    <div class="container">
        <div style="padding: 2%;">
            <h3 style="display: inline-block;margin-right: 7%;">Products</h3>
            {% if uProds %}
                <button class="btn btn-success" style="margin-bottom: 1%;" data-toggle="modal" data-target="#exampleModal">+ New Product</button>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12">
                {% if uProds %}
                <ul class="list-group">
                    {% for item in uProds %}
                    <li class="media listItem">
                        <img style="width: 200px; height: 200px;" class="mr-3" src="/media/{{item.image}}" alt="Generic placeholder image">
                        <div class="media-body">
                        <h5 class="mt-0 mb-1">{{item.product_name}}</h5>
                        <h6>Category: {{item.category}}</h6>
                        <h6>Rs. {{item.price}}</h6>
                        <span>{{item.desc|slice:"0:53"}}...</span><br>
                        <button 
                            class="btn btn-primary" 
                            data-toggle="modal" 
                            type="button" 
                            id="submit" 
                            data-item-id="{{item.pk}}"
                            data-prname="{{item.product_name}}" 
                            data-prcat={{item.category}}
                            data-prprice={{item.price}}
                            data-prdesc={{item.desc}}
                            data-image={{item.image}}
                            data-cdate={{item.pub_date}}
                            data-target="#updateModal" >
                            <i class="fas fa-edit" style="font-size:20px;"></i></button>
                        <button class="btn btn-danger" id="deletePr">
                            <i class="fas fa-trash" style="font-size:20px;"></i>
                        </button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <div class="alert alert-secondary" role="alert">
                        No Products Added
                    </div>
                    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal"> + Add Products</button>
                {% endif %}
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/addProduct/" method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="pr_name">Product Name</label>
                                <input type="text" class="form-control" name="pr_name" id="pr_name"  placeholder="Enter name" required>
                            </div>
                            <div class="form-group">
                                <label for="pr_category">Category</label>
                                <input type="text" class="form-control" id="pr_category" name="pr_category"  placeholder="Enter category" required>
                            </div>
                            <div class="form-group">
                                <label for="pr_price">Price</label>
                                <input type="number" class="form-control" id="pr_price" name="pr_price"  placeholder="Enter Price" required>
                            </div>
                            <div class="form-group">
                                <label for="pr_desc">Description</label>
                                <textarea class="form-control" id="pr_desc"  name="pr_desc" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="pr_createDate">Added Date</label>
                                <input type="date" class="form-control" id="pr_createDate" name="pr_createDate">
                            </div>
                            <div class="form-group">
                                <label for="pr_image">Image</label>
                                <input type="file" class="form-control-file" id="pr_image" name="pr_image" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--Update Modal-->
        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/editProduct/" method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="pu_id" id="pu_id">
                            <div class="form-group">
                                <label for="pr_name">Product Name</label>
                                <input type="text" class="form-control" name="pu_name" id="pu_name"  placeholder="Enter name" required>
                            </div>
                            <div class="form-group">
                                <label for="pr_category">Category</label>
                                <input type="text" class="form-control" id="pu_category" name="pu_category"  placeholder="Enter category" required>
                            </div>
                            <div class="form-group">
                                <label for="pr_price">Price</label>
                                <input type="number" class="form-control" id="pu_price" name="pu_price"  placeholder="Enter Price" required>
                            </div>
                            <div class="form-group">
                                <label for="pr_desc">Description</label>
                                <textarea class="form-control" id="pu_desc"  name="pu_desc" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="pr_createDate">Added Date</label>
                                <input type="date" class="form-control" id="pu_createDate" name="pu_createDate">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block js %}
        <script>
            $('#updateModal').on('show.bs.modal', function(e) {
                //get data-id attribute of the clicked element
                var pname = $(e.relatedTarget).data('prname');
                //populate the textbox
                $(e.currentTarget).find('input[name="pu_name"]').val(pname);

                var id = $(e.relatedTarget).data('item-id');
                $(e.currentTarget).find('input[name="pu_id"]').val(id);
                
                var pcat = $(e.relatedTarget).data('prcat');
                $(e.currentTarget).find('input[name="pu_category"]').val(pcat);

                var pprice = $(e.relatedTarget).data('prprice');
                $(e.currentTarget).find('input[name="pu_price"]').val(pprice);

                var pdesc = $(e.relatedTarget).data('prdesc');
                $(e.currentTarget).find('input[name="pu_desc"]').val(pdesc);

                //var pimage = $(e.relatedTarget).data('image');
                //$(e.currentTarget).find('input[name="pu_image"]').val(pimage);

                var pdate = $(e.relatedTarget).data('cdate');
                //populate the textbox
                $(e.currentTarget).find('input[name="pu_createDate"]').val(pdate);
            });

            {% comment %} var p_id = $('#').attr('data-cmd'); {% endcomment %}

            {% comment %} function confirmDelete(pr_id) {
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "scriptDelete.php",
                            type: "POST",
                            data: {
                                id: pr_id
                            },
                            dataType: "html",
                            success: function () {
                                swal("Done!", "It was succesfully deleted!", "success");
                                console.log(pr_id);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                swal("Error deleting!", "Please try again", "error");
                            }
                        });
                        swal("Poof! Your imaginary file has been deleted!", {
                        icon: "success",
                        });
                    } else {
                        swal("Your imaginary file is safe!");
                    }
                });
            } {% endcomment %}
        </script>
    {% endblock %}
{% endblock %}